# Dependencies
node_modules/

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/
coverage.json

# Build
dist/
build/

# Misc
*.tgz
.eslintcache
